@model List<Category>
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Horizontal Form</h4>
            <p class="card-description"> Horizontal form layout </p>
            <div class="text-danger" asp-validation-summary="All"></div>
            <form method="post" class="forms-sample">
                <div class="form-group row">
                    <label for="CategoryName" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input name="CategoryName" class="form-control"  placeholder="Category Name">
                    </div>
                </div>
                <div class="form-group row">
                    <select>
                        <option value="0">All categories</option>
                        <option value="12">Laptop</option>
                    </section>
                </div>
                <div class="form-group row">
                    <label for="Image.Photo" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input for="Image.Photo" class="form-control" accept="image/*">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-action="index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>

