@model List<Category>
@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Horizontal Form</h4>
            <p class="card-description"> Horizontal form layout </p>
            <div class="text-danger" asp-validation-summary="All"></div>
            <form method="post" class="forms-sample" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="CategoryName" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input name="CategoryName" class="form-control"  placeholder="Category Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="ParentId" class="col-sm-3 col-form-label">Select main category</label>
                    <select name="ParentId">
                        <option value="">Main category</option>
                        @foreach (var item in Model)
                        {
                            @if (item.SubCategories.Any())
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                                    @foreach (var sub in item.SubCategories)
                                    {
                                        @if (sub.SubCategories.Any())
                                        {
                                            <option value="@sub.Id">--@sub.CategoryName</option>
                                        }
                                    }
                            }
                        }
                    </section>
                </div>
                <div class="form-group row">
                    <label for="Photo" class="col-sm-3 col-form-label">Select image</label>
                    <div class="col-sm-9">
                        <input name="Photo" accept="image/*" type="file"/>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" class="btn btn-primary mr-2"value="Submit"/>
                    <button asp-action="index" class="btn btn-light">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

